In [3]:
import pandas as pd
import numpy as np

#PCA dimension reduced files
X_train = np.load("../X_train_pca.npk")
X_test = np.load("../X_test_pca.npk")

#keeps the totalRansactionRevenue, class_pred = 0 if didnt buy anythin and 1 if did
y_test = pd.read_pickle("../y_test.pkl")
y_train = pd.read_pickle("../y_train.pkl")

In [5]:
y_test.head()

        totals.transactionRevenue  class_pred        fullVisitorId
766871                        0.0         0.0  2494836869606104901
766872                        0.0         0.0  9442171079290686967
766873                        0.0         0.0  4699879371433238566
766874                        0.0         0.0  1744198241423644265
766875                        0.0         0.0  7721419154688899174